* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
}

#playtext {
  background-color: rgb(203, 228, 238);
  text-align: center;
  padding: 10px;
}

.buttonHolder {
  height: 60px;
  width: 100%;
  float: left;
  position: relative;
  background-color: rgb(206, 241, 239);
}

.buttonWrapper {
position: absolute;
top: 50%;
left: 50%; 
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.container {
margin-top: 10px;
justify-content: center;
width: 400px;
height: 600px;
}

.gameboard {
border-top:10px;
border-bottom: 4px;
border-bottom-color: black
}

.gameboard .box:not(.X):not(.O):hover {
  background-color: rgb(218, 241, 248);
}

.box {
background-color: rgb(252, 252, 249);
border: 1px solid black;
width: 125px;
height: 125px;
float: left;
width: 33.33%;
justify-content: center;
align-items: center;
display: flex;
cursor: pointer;
}

.box.X,
.box.O {
  cursor: not-allowed
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n + 1) {
  border-left: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}

.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
  border-bottom: none;
}


button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}


.winner {
  background-color: rgb(243, 243, 192);
}

.X {
  content: 'X';
  font-size: 135px;
  color: rgb(39, 38, 38);

}

.O {
  content: 'O';
  font-size: 135px;
  color: rgb(39, 38, 38);
}


#playerOne {
background-color: rgb(235, 245, 245);
text-align: right;
padding: 5px;
height: 110px;
float: left;
width: 50%;
}

#playerTwo {
background-color: mintcream;
padding: 5px;
height: 110px;
float: left;
width: 50%;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

#AIhelp {
  color:white;
}

 .roundEnded {
  display: none;
  position: fixed;
  width: 300px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
  background-color: rgba(104, 145, 206, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  flex-direction: column;
}

.roundEnded button {
  font-size: 1rem;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: .25em .5em;
  cursor: pointer;
}

.roundEnded button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.roundEnded.show {
  display: flex;
} 
