* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
}

#playtext {
  text-align: center;
  padding: 10px;
}

.buttonHolder {
  height: 60px;
  width: 100%;
  float: left;
  position: relative;
  background-color: rgb(207, 243, 139);
}

.buttonWrapper {
position: absolute;
top: 50%;
left: 50%; 
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.container {
  background-color: rgb(161, 248, 89);
  justify-content: center;
  /* display: flex;
  flex-wrap: wrap; */
  width: 400px;
  height: 600px;
}

#gameboard {
border-top:10px;
border-bottom: 4px;
border-bottom-color: black;
background-color: chartreuse;
}

.box {
  background-color: beige;
  width: 125px;
  height: 125px;
  float: left;
  width: 33.33%;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}


.winner {
  background-color: yellow;
}

.X {
  content: 'X';
  font-size: 135px;

}

.O {
  content: 'O';
  font-size: 135px;
}

#spacer {
height: 10px;
width: 100%;
background-color: purple;
padding: 10px;
}

#playerOne {
background-color: blanchedalmond;
padding: 5px;
height: 110px;
float: left;
width: 50%;
}

#playerTwo {
background-color: mintcream;
padding: 5px;
height: 110px;
float: left;
width: 50%;
}
